div.clickEffect {
  position: fixed;
  box-sizing: border-box;
  border-style: solid;
  border-color: #FFFFFF;
  border-radius: 50%;
  animation: clickEffect 0.2s ease-out;
  z-index: 1000;
}

@keyframes clickEffect {
  0% {
    border-color: #2196f3;
    opacity: 1;
    width: 0.5em; 
    height: 0.5em;
    margin: -0.25em;
    border-width: 0.5em;
  	}
  100% {
    border-color: #2196f3;
    opacity: 1;
    width: 10em; 
    height: 10em;
    margin: -5em;
    border-width: 0.3em;
  }
}

div.clickEffectThem {
  position: fixed;
  box-sizing: border-box;
  border-style: solid;
  border-color: #FFFFFF;
  border-radius: 50%;
  animation: clickEffectThem 0.2s ease-out;
  z-index: 1000;
}

@keyframes clickEffectThem {
  0% {
    border-color: #ff0055;
    opacity: 1;
    width: 0.5em; 
    height: 0.5em;
    margin: -0.25em;
    border-width: 0.5em;
  	}
  100% {
    border-color: #ff0055;
    opacity: 1;
    width: 10em; 
    height: 10em;
    margin: -5em;
    border-width: 0.3em;
  }
}