.App-view {
  width: 100%; /* minus width of nav */
  height: 100%; /* minus height of header */
  box-sizing: border-box;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: flex-start;
}
