.App {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  background-color: #F8F9FA;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.App-view {
  width: 100%; /* minus width of nav */
  height: 100%; /* minus height of header */
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.App-logo {
  max-width: 44px;
}

form {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

form .input-group {
  padding: 0 0 16px 0;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
}

form .input-group label {
  display: block;
  font-weight: bold;
  padding: 0 0 10px 0;
}